:root {
  --gradient1: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
  --gradient2: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
  --mainFont: 'Hanken Grotesk', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  font-family: var(--mainFont);
}
p {
  font-weight: 500;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.attribution {
  font-size: 14px;
  margin-top: 40px;
}
@media (min-width: 572px) {
    html, body {
      background-color: #ECF2FF;
    }
    .App {
      height: 100vh;
    }
}